* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    cursor: default;
}

body {
    background-color: rgb(241, 245, 248);
    position: relative;
}

@font-face {
    font-family: 'myfont';
    src: url('/NerisFreeWeigths/Neris-Light.otf');
}

/* 顶部导航模块 */

nav {
    margin-top: 20px;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
    position: absolute;
    height: 50px;
    overflow: hidden;
    font-family: myfont;
}

nav div img {
    width: 40px;
    border-radius: 20px;
    margin-top: 5px;
    float: left;
}

nav span {
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 22px;
}

nav a {
    height: 30px;
    width: 80px;
    font-size: 18px;
    transition: all 0.6s;
    text-align: center;
    border-radius: 8px;
}

nav .home {
    line-height: 30px;
    left: 1000px;
    top: 16px;
    position: absolute;
}

nav .share {
    line-height: 30px;
    left: 1100px;
    top: 16px;
    position: absolute;
}

nav a:hover {
    color: white;
    background-color: rgb(39, 119, 255);
}

/* 左侧导航模块 */

#left {
    overflow: auto;
    margin-top: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 90px;
    height: auto;
}

.leftlogotop {
    margin-top: 50px;
}

#left .leftlogo {
    height: 22px;
    padding: 16px;
}
#left .ico {
    margin-left: 13px;
    float: left;
    width: 24px;
}
#left div img {
    width: 20px;
}

#left p {
    margin-left: 65px;
    height: 22px;
    color: black;
    display: none;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
}

#left .logo:hover {
    color: rgb(39, 119, 255);
}

li:hover {
    color: rgb(39, 119, 255);
}

#left div .logodown {
    padding: 6px 0;
    display: block;
}

li {
    margin-left: 80px;
    font-size: 13px;
    list-style: none;
    padding: 6px 0;
}

ul {
    display: none;
}

/* 内容区域 */

#right {
    margin-top: 90px;
    left: 50%;
    margin-left: -660px;
    position: absolute;
    height: 600px;
    width: 1320px;
    font-family: sans-serif;
}

span {
    font-size: 12px;
    color: rgb(0, 0, 0);
    transition: all 0.4s;
}

#right div {
    margin: 15px 15px;
    float: left;
    height: 72px;
    width: 230px;
    border-radius: 6px;
    border: 1px solid rgb(143, 143, 143);
    transition: all 0.3s;
}

#right div:hover {
    transform: translateY(-5px);
    box-shadow: -1px 6px 30px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}

#right img {
    float: left;
    border-radius: 10px;
    margin-top: 18px;
    margin-left: 10px;
    width: 32px;
}

p {
    margin-top: 4px;
    margin-left: 55px;
    font-size: 13px;
    font-weight: 530;
    color: rgba(0, 0, 0, 0.6);
}

.title {
    color: black;
    font-weight: 540;
    margin-top: 14px;
}

.tuna {
    margin-top: 22px;
    margin-left: 4px;
    padding-right: 10px;
}

strong {
    height: 20px;
    width: 1200px;
    float: left;
    margin-top: 12px;
    margin-left: 40px;
}

.vpn {
    color: red;
}

/* 返回顶部模块 */

.backtop {
    width: 38px;
    height: 40px;
    position: fixed;
    right: 6px;
    top: 500px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    box-shadow: 1px 6px 30px 1px rgb(218, 218, 218);
    border: rgb(202, 202, 202) solid 1px;
    display: none;
}

.backtop > img {
    margin-top: 10px;
    width: 20px;
}

/* hamburger */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
    margin-left: 0;
}

.container {
    left: 20px;
    width: 30px;
    height: 40px;
    position: fixed;
    text-align: center;
}

.row .three {
    padding: 20px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ecf0f1;
    text-align: center;
}

.hamburger .line {
    width: 20px;
    height: 2px;
    background-color: rgb(27, 154, 219);
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(4px) rotate(135deg);
}

#hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-10px) rotate(45deg);
}
